<div class="row organization-search">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Balance for {{vm.kardex}} / {{vm.ean}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="text" class="form-control filters" data-ng-model="vm.searchById"></th>
                        <th><input type="text" class="form-control filters" data-ng-model="vm.searchTimestamp"></th>
                        <th><input type="text" class="form-control filters" data-ng-model="vm.searchTransactionType"></th>
                        <th><input type="text" class="form-control filters" data-ng-model="vm.searchAmount"></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Time stamp</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.transactions | filter: {Id : vm.searchById} | filter: {Timestamp: vm.searchTimestamp} | filter: {TransactionType: vm.searchTransactionType}
                    | filter: {Amount: vm.searchAmount}">
                        <td>{{item.Id}}</td>
                        <td>{{item.Timestamp | date:'HH:mm:ss MM/dd/yyyy'}}</td>
                        <td>{{item.TransactionType | transactionType}}</td>
                        <td>{{item.Amount}}</td>
                        <td><a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="vm.tranasctionDetails(item)">See details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
