<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITransactionService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54252/TransactionService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_ITransactionService" 
                contract="CargoTrack.TransactionService.Contracts.ITransactionService" 
                name="BasicHttpBinding_ITransactionService" />
    </client>
  </system.serviceModel>
</configuration>